langchain
langchain-community
langchain-core
langchain-huggingface
langchain-milvus
langchain-openai
openai
langchain-text-splitters
langchainhub
langgraph
langsmith
pydantic
pydantic_core
openshift
kubernetes
pyOpenSSL
gradio
gradio_client
prometheus-api-client
joblib
scikit-learn
sentence-transformers
